body {
  margin: 0;
  background-color: rgb(216, 191, 216);
  font-family: Garamond, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1 {
  color: darkpurple;
}
h2 {
  color: mediumpurple;
}
p {
  color: purple;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
